body {
    margin: 0;
    padding: 0;
}
.bread-crumb {
    background: #FFECE1;
    padding: 5px 0;
    width:  -webkit-fill-available;
    height: 45px;
}
.breadcrumb {
    display: flex;
    align-items: center;
    margin: 0;
    height: 35px;
}
.breadcrumb > li a {
    color: #777777;
    font-weight: 400;
    font-size: 16px;
}
.breadcrumb a:hover {
    color: black;
    
}
.cart {
    width: 1200px;
    margin: 50px 0px;
}
table {
    width: 1200px;
}
.cart table thead tr th {
    font-weight: bold;
    font-size: 13px;
    padding: 7px 0px;
    border-bottom: solid 1px #ddd;
}
tbody tr td {
    padding: 30px 0px;
    border-bottom: solid 1px #ddd;
}
.w-6 {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.namepro {
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    text-align: start;
}
.namepro img {
    max-width: 134px;
    max-height: 134px;
    margin-right: 15px;
}
tbody tr td {
    text-align: center;
}
tbody tr td input {
    width: 60px;
    height: 40px;
    outline: none;
    text-align: center;
}
.cart-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
}
.btn-buy {
    outline: none;
    font-size: 13px;
    color: #ffb9a4;
    font-weight: 700;
    padding: 12px 23px 13px;
    display: block;
    background: #fff;
    border: 1px solid #ffb9a4;
    height: 45px;
}
.btn-buy:hover {
    color: #fff;
    background: #ffb9a4;
} 
.total-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
}
.total-cart h6 {
    font-size: 14px;
    font-weight: 700;
}
.total-price {
    font-weight: 700;
    font-size: 21px;
    color: #ff565c;
}
.btn-payment {
    width: 600px;
    background-color: #ffb9a4;
    color: #fff;
    text-align: center;
    border: 1px solid #ffb9a4;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 30px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    margin: 20px auto;
}
.btn-payment:hover {
    background: #fff;
    border: 1px solid #2f80ed;
    color: #2f80ed;
}
.cart__container{
    width: 1000px;
}

.cart__btn-proceed-back{
    font-size: 13px;
    color: #ffb9a4;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px;
    display: block;
    background: #fff;
    float: left;
    border: 1px solid #ffb9a4;
}
.cart__btn-proceed-back:hover {
    color: white;
    background: #ffb9a4;
}