* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

header {
    border-top: 0.5px solid #E5E5E5;
    border-bottom: 0.5px solid #E5E5E5;
}

.container {
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.header__items--list a {
    text-decoration: none;
    font-weight: 500;
    line-height: 19px;
    color: #333;
    font-size: 16px;
}

.header__items--list a:hover {
    color: rgb(85, 85, 223);
}

.nav-item {
    margin-right: 15px;
}


.header-menu .search-account {
    padding: 0 15px;
    cursor: pointer;
}

/* body */
.main__body--breadcrumb {
    background: #FFECE1;
    padding: 5px 0;
}

.breadcrumb {
    margin: 0px;
    border-radius: 0;
    color: #777777;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    padding-left: 30px;
}

.breadcrumb a {
    text-decoration: none;
    color: #777777;
}

.main__body--contents {
    margin-top: 25px;
}
.main__body--contents-top{
    height: 45px;
    line-height: 45px;
    margin-bottom: 40px;
    background: #F7F7F7;
}
.colection--toolbar .dropdown-menu{
    background: #F7F7F7;;
}

.category_collection--items .dropdown-toggle{
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    line-height: 25px;
    font-size: 14px;
}
/* .category_collection--items .dropdown-menu{
    margin-left: 20px;

} */

.colection--sort-by .dropdown-toggle{
    background: white;
    color: #333;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    width: 180px;
    padding: 0 20px;
    height: 36px;
    outline: none;
    text-align: start;
}
.colection--sort-by ul.dropdown-menu li {
    line-height: 19px;
}