* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

header {
    border-top: 0.5px solid #E5E5E5;
    border-bottom: 0.5px solid #E5E5E5;
}

.container {
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    max-width: 1200px;
    margin: auto;
}

.header__items--list a {
    text-decoration: none;
    font-weight: 500;
    line-height: 19px;
    color: #333;
    font-size: 16px;
}

.header__items--list a:hover {
    color: rgb(85, 85, 223);
}

.nav-item {
    margin-right: 15px;
}


.header-menu .search-account {
    padding: 0 15px;
    cursor: pointer;
    gap: 30px;
}

.navbar__icon--item {
    position: relative;
}

.navbar__icon--count-item {
    width: 18px;
    height: 12px;
    text-align: center;
    line-height: 12px;
    position: absolute;
    top: 13px;
    left: 6px;
    color: #fff;
    border-radius: 6px;
    background: #A05139;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

/* body */
.main__body--breadcrumb {
    background: #FFECE1;
    padding: 5px 0;
    width: -webkit-fill-available;
}

.breadcrumb {
    margin: 0px;
    border-radius: 0;
    color: #777777;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    padding-left: 30px;
}

.breadcrumb a {
    text-decoration: none;
    color: #777777;
}

.main__body--contents {
    margin-top: 25px;
}

.main__body--contents-top {
    height: 45px;
    line-height: 45px;
    margin-bottom: 40px;
    background: #F7F7F7;
    padding: 0px 20px;
    /* background-clip: content-box; */
}

.colection--category .dropdown-menu {
    background: #F7F7F7;
}

.category_collection--items .dropdown-toggle {
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    line-height: 25px;
    font-size: 14px;
}

.colection--sort-by .dropdown-toggle {
    background: white;
    color: #333;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    width: 180px;
    padding: 0 20px;
    height: 36px;
    outline: none;
    text-align: start;
}

.colection--sort-by button:hover {
    border: 1px solid #e5e5e5
}

.colection--sort-by ul.dropdown-menu li {
    line-height: 19px;
}

/* Product */
.product--thumnail {
    position: relative;
    overflow: hidden;
    border: 1px solid #F2F2F2;
    border-radius: 3px;
}

.product--thumnail img {
    width: 100%;
    height: 100%;
}

.product--information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 0 25px 0;
}

.product--information h3 {
    margin: 0;
}

.product-name a {
    line-height: 16px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: #333;
}

.action {
    width: 100%;
    position: absolute;
    bottom: 5px;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    visibility: hidden;
}

.product--thumnail:hover .action {
    opacity: 1;
    visibility: visible;
}

.action .btn-proceed-checkout {
    width: calc(100% - 60px);
    margin-left: 5px;
    padding: 11px 13px;
    color: #A05139;
    background: #ffb9a4;
    border: 1px solid #ffb9a4;
    border-radius: 3px;
    font-weight: 700;
    font-size: 14px;
}

.action .btn-cart {
    background: #FFECE1;
    color: #f69d82;
    border: 1px solid #ffb9a4;
    border-radius: 3px;
    width: 40px;
    height: 45px;
    margin-left: 5px;
    margin-right: 5px;
}

.pagenav {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 0px 30px;
}

.pagenav .pagination {
    position: relative;
    z-index: 1;
    padding: 0 0px;
    margin: 30px 0 30px;
    display: flex;
    list-style: none;
}

.active .page-link {
    background-color: #337ab7;
    border-color: #337ab7;
}

.page-link:hover {
    background-color: #337ab7;
    border-color: #337ab7;
    color: white;
}

.page-item:first-child .page-link {
    border-radius: 0;
}

.pagination a {
    line-height: 20px;
    color: #7d7d7d
}

/* pop up cart css */
.popup--cart {
    background: white;
    width: 900px;
    height: 500px;
    max-height: 500px;
    margin: 0 auto;
    position: fixed;
    top: 80px;
    z-index: 2;
}

.popup-cart-top {
    font-size: 16px;
    padding-right: 15px;
    font-weight: 400;
    padding: 20px 50px 20px 20px;
    background: #ffb9a4;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.popup--count-item {
    border: none;
    width: 10px;
    height: 16px;
    text-align: center;
    background: #ffb9a4;
    color: #fff;
    font-size: 16px;
    font-weight: 400;

}

.popup-cart-sumary {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 0;
    color: #333333;
    padding: 15px 20px;
    display: block;
}

.popup-cart__main {
    margin-bottom: 0;
    background: #fff;
    padding: 0 20px 20px;
}

table {
    width: 100%;
}

.popup--cart__container {
    padding: 0px 20px 20px 20px;
}

.cart-header-info {
    border: solid 1px #ebebeb;
    font-weight: bold;
    width: 100%;
}

.cart-header-info tr th {
    padding: 7px 0px;
    font-size: 16px;
    line-height: 18px;
    color: #333333;
    font-weight: 700;
}

.cart__btn-proceed-checkout {
    width: 100%;
    background-color: #ffb9a4;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border: 1px solid #ffb9a4;
    border-radius: 0px;
}

.namepro {

    gap: 20px;
    align-items: center;
    margin-left: 10px;
}

.namepro div {

    flex-direction: column;
}

.btn-amountPro {
    width: 100px;
    height: 28px;
    display: flex;
    align-items: center;
    border: solid 1px #ddd;
    border-radius: 3px;
    margin: auto;
}

.btn-amountPro button {
    border: none;
    width: 24px;
    height: 23px;
    line-height: 23px;
    cursor: pointer;
    margin: 0 5px;
    font-size: 24px;
    background: #fff;
    padding: 1px 6px;
}

.btn-amountPro input {
    border: none;
    width: 30px;
    text-align: center;
}

.pop-cartft {
    padding-top: 20px;
}

.cart--subtotal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.popup--background {
    position: fixed;
    opacity: 0;
    width: 100%;
    left: 0;
    top: 0 !important;
    right: 0;
    bottom: 0;
    background-color: #363636;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;
}

.popup--background.active {
    opacity: 0.8;
    visibility: visible;
}
.product--details{
    height: 100px;
}

#products--list{
    max-height: 250px;
    overflow: auto;
}

.product--details{
    padding: 10px 0;
    border-bottom: solid 1px #ebebeb
}