    body {
        font-size: 14px;
        font-family: 'Inter', sans-serif;
    }

    nav a {
        text-decoration: none;
        font-weight: 500;
        line-height: 19px;
        color: #333;
        font-size: 16px;

    }

    a:hover {
        color: rgb(85, 85, 223);
    }

    .nav-item {
        margin-right: 20px;
    }


    .header-menu .search-account {
        padding: 0 15px;
        cursor: pointer;
    }