* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(85, 85, 223);
}

li {
    list-style: none;
}

.btn:hover {
    border: 1px solid #ffb9a4;
}

.container {
    max-width: 1200px;
    padding: 0;
}

header {
    border-top: 0.5px solid #E5E5E5;
    border-bottom: 0.5px solid #E5E5E5;
    width: -webkit-fill-available;
}

.header__navbar {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}


.navbar-brand {
    height: 64px;
    width: 64px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    align-items: center;
    padding: 0;
    margin: 0;

}

.nav-menu a:hover {
    color: rgb(85, 85, 223);
}

.dropdown__list a:hover {
    color: rgb(85, 85, 223);
}

.navbar__icon {
    gap: 30px;
    cursor: pointer;
}

.all__navMenu {
    justify-content: center;
}

.navbar-menu a {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #333;
    font-style: normal;
}

.navbar__icon--item {
    position: relative;
}

.navbar__icon--count-item {
    width: 18px;
    text-align: center;
    line-height: 12px;
    position: absolute;
    top: 13px;
    left: 6px;
    color: #fff;
    border-radius: 6px;
    background: #A05139;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

.dropdown__select {
    position: relative;
}

.dropdown__select:hover .dropdown__list {
    opacity: 1;
    visibility: visible;
}

.dropdown__list {
    position: absolute;
    top: 41px;
    left: 0;
    width: 220px;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.04);
    padding: 0px;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: 0, 25s linear;
    background: white;

}

.dropdown__list1:before {
    content: "";
    background-color: transparent;
    height: 30px;
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
    cursor: pointer;
}

.dropdown__list--item {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding: 9px 20px 9px 10px;
    color: #333;
    border-bottom: solid 1px #e5e6ec;
}

.fa-caret-right {
    background: none !important;
}

.dropdown__list2 {
    position: absolute;
    top: 0px;
    left: 100%;
    z-index: 100;
    display: none;
}

.dropdown__select1:hover .dropdown__list2 {
    display: block;
}

.container__home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 30px auto 45px auto;
    grid-gap: 17px;
    max-width: 1200px;
}

.service--layout img {
    width: 100%;
}

.service--layout:first-child {
    grid-row: 1/4;
    grid-column: 1/3;
}

.service--layout:nth-child(2) {
    grid-row: 1/2;
    grid-column: 3/4;
}

.service--layout:nth-child(3) {
    grid-row: 2/3;
    grid-column: 3/4;
}

.service__ri {
    display: flex;
    background: #FFECE1;
    border-radius: 3px;
    padding: 25px 20px;
    align-items: center;
}

.service__ri>img {
    width: 68px;
    height: 68px;
    background: #FFECE1;
}

.service__info {
    width: calc(100% - 90px);
    margin-left: 20px;
    background-color: #FFECE1;
}

.service__info p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #777;
    margin: 0;
    background: #FFECE1;
}

.service__info h6 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 12px;
    background: #FFECE1;
}

.sale-title h2 a {
    background-image: url(//bizweb.dktcdn.net/100/459/658/themes/870139/assets/background_title1.png?1664955292457);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100%;
    text-align: center;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    padding: 20px 0;
    display: block;
    color: #A05139;
}

.sale-title h2 {
    margin-bottom: 30px;
}

.product-sale {
    margin-bottom: 45px;
}

.product-sale__banner img {
    width: 584px;
}

.sale {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.sale-card {
    display: flex;
    overflow: auto;
}

.sale__card-slider {
    margin: 0;
    width: 268px;
}

.sale__card-slider--img {
    position: relative;
    /* overflow: hidden; */
    margin-bottom: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 3px;
    width: 268px;
}

.sale__card-slider--a {
    width: 239px;
}

.slick-slide {
    margin-right: 30px;
    margin-left: 15px;
}

.slick-arrow {
    border: 1px solid #E0E0E0;
    width: 36px;
    height: 36px;
    z-index: 2;
    background: transparent;
    position: absolute;
    top: calc((100% - 56px) / 2);
    transform: translate(0, -50%);
}

.slick-arrow:hover {
    background: #ffb9a4;
}

.fa:hover {
    background: #ffb9a4;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}

.card-slider--img {
    width: 100%;
    height: 239px;
    margin: 0px;
}

.card-slider--btn {
    display: flex;
    margin: 7px;
}

.slider--button {
    width: calc(100% - 60px);
    margin-right: 12px;
    margin-left: 5px;
    padding: 11px 13px;
    color: #A05139;
    background: #ffb9a4;
    border: 1px solid #ffb9a4;
    border-radius: 3px;
    font-weight: 700;
    font-size: 14px;
}

.slider--button-icon {
    margin-top: 0;
    padding: 11px 13px;
    color: #ffb9a4;
    font-size: 14px;
    border: none;
    float: left;
    margin-right: 4px;
    background: #FFF4F0;
    border: 1px solid #ffb9a4;
    border-radius: 3px;
}

.productName-sale {
    text-align: center;
}

.card--sale-price {
    margin-right: 10px;
}

.productName-sale a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: unset;
    color: #333;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.card--sale-price {
    text-decoration: line-through;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8C8C8C;
    margin-right: 10px;
}

.card--price {
    font-weight: 700;
}

.slick-initialized .slick-slider {
    margin-right: 30px;
}

.NewProduct-title {
    margin-bottom: 30PX;
}

.NewProduct-title h2 {
    background-image: url(//bizweb.dktcdn.net/100/459/658/themes/870139/assets/background_title2.png?1664955292457);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left;
    margin: 0;
    padding: 20px 0;
}

.NewProduct-title a {
    text-align: center;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    display: block;
    color: #225A21;
}

.new-product {
    display: flex;
    overflow: hidden;
    margin-bottom: 35px;
}

.allProduct-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
    background-image: url(//bizweb.dktcdn.net/100/459/658/themes/870139/assets/background_title3.png?1664955292457);
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 15px;
    height: auto;
}

.all-title h2 a {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #225A21;
}

.allProduct__tabs a {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #2E747E;
    cursor: pointer;
}

.allProduct__tabs a:hover {
    color: rgb(85, 85, 223);
}

.allProduct__tabs {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    padding: 0;
}

.allProduct__tabs::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 100%;
    background: transparent;
}

.all-product__active {
    position: relative;
}

.all-product__active::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 100%;
    background: #2E747E;
}

.kdd>img {
    width: 268px;
}

.tab-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
}

.margin-card {
    margin-bottom: 30px;
}

.section-brand {
    padding: 50px 0;
}

.brand__title h5 a {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 25px;
}

.block-product-brand {
    display: flex;
    justify-content: space-between;
}

.product-brand a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 184px;
    height: 90px;
    border: 1px solid #E2E5EC;
    border-radius: 10px;
}

.product-brand:hover {
    box-shadow: 0px 8px 16px rgba(159, 184, 192, 0.25);
}

.section-blog {
    margin-bottom: 40px;
}

.blog-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.view-all-blog {
    text-decoration: underline;
}

.view-all-blog:hover {
    color: rgb(85, 85, 223);
}

.block-blog {
    display: flex;
}

.item-blog {
    width: 277px;
}

.blog-img {
    margin-bottom: 15px;
}

.blog-img img {
    width: 277px;
    border: 1px solid #F5F6F8;
    border-radius: 3px;
}

.timePost {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #8C8C8C;
    margin-bottom: 15px;
}

.blog-content h3 {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333;
}

.blog-content p {
    color: #777;
    height: 66px;
    overflow: hidden;
    font-size: 14px;
    margin-bottom: 15px;
}

.blog-right {
    position: absolute;
    right: -8px;
    top: 28%;
}

.blog-left {
    position: absolute;
    left: -2px;
    top: 28%;
}

.mail {
    padding: 22px 0;
    background: #FFECE1;
    width: -webkit-fill-available;
    height: 82px;
}

.mail-row {
    display: flex;
    justify-content: space-between;
}

.link-social a {
    margin: 0 12px;
}

.mail-text svg {
    margin-right: 10px;
}

.mail-text span {
    font-size: 16px;
    color: #333;
    line-height: 20px;
    font-weight: 700;
}

.newletter-form {
    display: flex;
}

.email-btn {
    margin: 0;
    border-radius: 0;
    width: 100px;
}

.email-btn:hover {
    background: white;
}

.email__input {
    width: 365px;
    padding: 0 55px 0 10px;
    border: none;
}

footer {
    background-image: url(//bizweb.dktcdn.net/100/459/658/themes/870139/assets/background_footer.png?1681183593004);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: -webkit-fill-available;
}

.info-footer {
    display: flex;
    padding: 25px 0 55px 0;
    justify-content: space-between;
    width: 1200px;
}

.ft {
    width: 277px;
}

.ft h4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #A05139;
    margin-top: 15px;
    margin-bottom: 15px;
}

.word-ft>p {
    margin: 0;
    padding-left: 10px;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.word-ft>a {
    margin: 0;
    padding-left: 10px;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.ft-logo {
    margin-bottom: 20px;
}

.ft-item {
    display: flex;
    flex-direction: column;
}

.item-ft {
    display: flex;
}

.item {
    width: 20px;
    height: 20px;
    margin-right: 3px;
}

.htkh {
    display: flex;
    flex-direction: column;
}

.Copyright-ft {
    padding: 10px 0;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #E2E5EC;
    color: #777777;
    font-size: 12px;
    line-height: 35px;
    font-weight: 600;
    background: #fff;
    width: -webkit-fill-available;
}

.p-ft a,
p.time {
    padding-left: 0;
}

/* back-top button */
.backtop {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background: #ffb9a4;
    height: 45px;
    width: 45px;
    text-align: center;
    border-radius: 30px;
    z-index: 999;
    line-height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backtop:hover {
    background: #298aeb;
}

.backtop:hover i {
    color: white;
}
.hide{
    display: none;
}